{% extends "movies/base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<div class="max-w-7xl mx-auto space-y-16">

    {% if error %}
        <div class="bg-red-500/20 border border-red-500 text-red-400 p-4 rounded">
            {{ error }}
        </div>
    {% endif %}

    <!-- ================= SEARCH RESULT ================= -->

    {% if query %}

        <!-- HERO MOVIE -->
        <div class="relative h-[70vh] min-h-[500px] rounded-lg overflow-hidden">
            <div class="absolute inset-0">
                {% if hero_movie.local_backdrop %}
                <img src="{{ hero_movie.local_backdrop.url }}"
                     class="w-full h-full object-cover">
                {% elif hero_movie.backdrop_path %}
                <img src="https://image.tmdb.org/t/p/original{{ hero_movie.backdrop_path }}"
                     class="w-full h-full object-cover">
                {% endif %}
                <div class="absolute inset-0 bg-gradient-to-r from-[#141414] via-transparent to-transparent"></div>
                <div class="absolute inset-0 bg-gradient-to-t from-[#141414] via-transparent to-transparent"></div>
            </div>

            <div class="absolute bottom-20 left-10 max-w-xl">
                <h1 class="text-5xl font-bold mb-4">
                    {% if hero_movie %}
                        {{ hero_movie.title }}
                    {% else %}
                        {{ hero_movie.name }}
                    {% endif %}
                </h1>

                <div class="flex gap-4 text-gray-300 mb-4">
                    {% if hero_movie.vote_average %}
                        <span class="text-green-500 font-semibold">
                            ⭐ {{ hero_movie.vote_average|floatformat:1 }}
                        </span>
                    {% endif %}

                    {% if hero_movie.release_date %}
                        <span>{{ hero_movie.release_date|date:"Y" }}</span>
                    {% endif %}
                </div>

                <p class="text-gray-300 line-clamp-3 mb-6">
                    {{ hero_movie.overview }}
                </p>

                <a hx-get="{% url 'movies:movie_detail' hero_movie.id %}"
                   hx-target="body"
                   hx-push-url="true"
                   class="bg-white text-black px-8 py-3 rounded font-semibold hover:bg-gray-200 cursor-pointer">
                    Подробнее
                </a>
            </div>
        </div>

        <!-- SIMILAR MOVIES -->
        {% if similar_movies %}
        <div>
            <h2 class="text-2xl font-semibold mb-4">
                🔎 Похожие фильмы
            </h2>

            <div class="flex gap-4 overflow-x-auto pb-4">
                {% for movie in similar_movies %}
                    {% include "components/movie_card.html" %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    <!-- ================= HOME PAGE ================= -->

    {% else %}

        <!-- HERO -->
        {% if hero_movie %}
            <div class="relative h-[70vh] min-h-[500px] rounded-lg overflow-hidden">
                <div class="absolute inset-0">
                    {% if hero_movie.local_backdrop %}
                    <img src="{{ hero_movie.local_backdrop.url }}"
                         class="w-full h-full object-cover">
                    {% elif hero_movie.backdrop_path %}
                    <img src="https://image.tmdb.org/t/p/original{{ hero_movie.backdrop_path }}"
                         class="w-full h-full object-cover">
                    {% endif %}
                    <div class="absolute inset-0 bg-gradient-to-r from-[#141414] via-transparent to-transparent"></div>
                    <div class="absolute inset-0 bg-gradient-to-t from-[#141414] via-transparent to-transparent"></div>
                </div>

                <div class="absolute bottom-20 left-10 max-w-xl">
                    <h1 class="text-5xl font-bold mb-4">
                        {% if hero_movie %}
                            {{ hero_movie.title }}
                        {% else %}
                            {{ hero_movie.name }}
                        {% endif %}
                    </h1>

                    {% if hero_movie.vote_average %}
                        <div class="text-green-500 mb-4">
                            ⭐ {{ hero_movie.vote_average|floatformat:1 }}
                        </div>
                    {% endif %}

                    <p class="text-gray-300 line-clamp-3 mb-6">
                        {{ hero_movie.overview }}
                    </p>

                    <a  hx-get="{% url 'movies:movie_detail' hero_movie.id %}"
                        hx-target="body"
                        hx-push-url="true"
                       class="bg-white text-black px-8 py-3 rounded font-semibold hover:bg-gray-200 cursor-pointer">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endif %}

        <!-- POPULAR -->
        <div>
            <h2 class="text-2xl font-semibold mb-4">
                🔥 Популярное
            </h2>

            <div class="flex gap-4 overflow-x-auto pb-4">
                {% for movie in popular_movies %}
                    {% include "components/movie_card.html" %}
                {% endfor %}
            </div>
        </div>

        <!-- TOP RATED -->
        <div>
            <h2 class="text-2xl font-semibold mb-4">
                ⭐ Лучшие фильмы
            </h2>

            <div class="flex gap-4 overflow-x-auto pb-4">
                {% for movie in top_movies %}
                    {% include "components/movie_card.html" %}
                {% endfor %}
            </div>
        </div>

        <!-- NEW MOVIES -->
        <div>
            <h2 class="text-2xl font-semibold mb-4">
                🎬 Новинки
            </h2>

            <div class="flex gap-4 overflow-x-auto pb-4">
                {% for movie in new_movies %}
                    {% include "components/movie_card.html" %}
                {% endfor %}
            </div>
        </div>

    {% endif %}

</div>

{% endblock %}